{% extends 'default_pages/base.html' %}
{% load static %}

{% block content %}
<h1 class="book-heading">All Books</h1>
<div class="quote"></div>
<p>
    <form method="post" action="{% url 'view_books' %}" class="filter-form">
        {% csrf_token %}
        <label for="category">Filter by Genre:</label>
        <input type="text" name="category" id="category" placeholder="Enter category...">
        <button type="submit">Filter</button>
    </form>
</p>
<div class="books">
    {% for book in page_obj %}
    <div class="book" onclick="bookDetails('{{ book.name }}')">
        <h2>Title: {{ book.name }}</h2>
        <p>First Author: {{ book.first_author }}</p>
        {% if book.second_author %}
        <p>Second Author: {{ book.second_author }}</p>
        {% endif %}
        {% if book.third_author %}
        <p>Third Author: {{ book.third_author }}</p>
        {% endif %}
        <p>Genre: {{ book.genre }}</p>
        <img src="{{ book.cover_image.url }}" alt="Book Cover" class="book-image">
    </div>
    {% empty %}
    <p>No books found.</p>
    {% endfor %}
</div>

{% if page_obj.has_other_pages %}
<div class="pagination">
    {% if page_obj.has_previous %}
    <a href="{{ request.path }}?page=1" class="pagination-link">&laquo; First</a>
    <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}" class="pagination-link">&lt; Previous</a>
    {% else %}
    <span class="disabled-pagination-link">&laquo; First</span>
    <span class="disabled-pagination-link">&lt; Previous</span>
    {% endif %}

    {% for num in page_obj.paginator.page_range %}
    {% if page_obj.number == num %}
    <span class="current-page">{{ num }}</span>
    {% else %}
    <a href="{{ request.path }}?page={{ num }}" class="pagination-link">{{ num }}</a>
    {% endif %}
    {% endfor %}

    {% if page_obj.has_next %}
    <a href="{{ request.path }}?page={{ page_obj.next_page_number }}" class="pagination-link">Next &gt;</a>
    <a href="{{ request.path }}?page={{ page_obj.paginator.num_pages }}" class="pagination-link">Last &raquo;</a>
    {% else %}
    <span class="disabled-pagination-link">Next &gt;</span>
    <span class="disabled-pagination-link">Last &raquo;</span>
    {% endif %}
</div>

<div id="bookModal" class="modal">
    <div class="modal-content" id="modalContent">
    </div>
</div>
{% endif %}



<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
$(document).ready(function() {
    $.ajax({
        url: '/get-random-quote/',
        success: function(data) {
            console.log('Quote data received:', data);
            if (data.quote && data.quote.trim() !== "") {
                var quoteHtml = '<p class="blockquote">' + data.quote + '</p>';
                $('.quote').append(quoteHtml);
            }
        },
    });
});
</script>

<script>
    
function bookDetails(name) {
    const filterParams = new URLSearchParams(window.location.search);
    const queryParams = filterParams.toString();
    fetch("/get-book-details/?name=" + encodeURIComponent(name) + "&" + queryParams)
        .then(response => {
            if (!response.ok) {
                throw new Error('Network response was not ok');
            }
            return response.json();
        })
        .then(data => {
            console.log('Data received from server:', data);
            showModal(data.book);
        })
        .catch(error => {
            console.error('There was a problem with the fetch operation:', error);
        });
}

function showModal(book) {
    console.clear()
    console.log(book)
    const modal = document.getElementById('bookModal');
    const modalContent = document.getElementById('modalContent');

    // Check if book exists and has necessary properties
    if (book && book.name) {
        modalContent.innerHTML = `
            <span class="close" onclick="closeModal()">&times;</span>
            <h2>${book.name}</h2>
            ${book.cover_image ? `<img src="${book.cover_image}" alt="Book Cover" class="book-image">` : ''}
            <p><strong>First Author:</strong> ${book.first_author || ''}</p>
            ${book.second_author ? `<p><strong>Second Author:</strong> ${book.second_author}</p>` : ''}
            ${book.third_author ? `<p><strong>Third Author:</strong> ${book.third_author}</p>` : ''}
            <p><strong>ISBN:</strong> ${book.isbn || ''}</p>
            <p><strong>Publish Year:</strong> ${book.publish_year || ''}</p>
            <p><strong>Genre:</strong> ${book.genre || ''}</p>
            <p><strong>Description:</strong> ${book.description || ''}</p>
        `;
        modal.style.display = "block";
    } else {
        console.error('Book details are incomplete or missing.');
    }
}

    function closeModal() {
        const modal = document.getElementById('bookModal');
        modal.style.display = "none";
    }

    window.onclick = function(event) {
        const modal = document.getElementById('bookModal');
        if (event.target === modal) {
            closeModal();
        }
    }
</script>

<style>
    .book{
        cursor: pointer; 
        transition: transform 0.3s ease; 
    }
    .book:hover {
        transform: scale(1.05); 
    }
    .book-cover, .book-image {
        width: 350px;
        height: 350px;
        object-fit: cover;
        margin-top: 10px;
        border-radius: 5px;
    }
    .pagination {
        margin-top: 20px;
        text-align: center;
    }
    .pagination-link {
        margin: 0 5px;
        text-decoration: none;
        color: chocolate;
    }
    .current-page {
        margin: 0 5px;
        font-weight: bold;
    }
    .disabled-pagination-link {
        margin: 0 5px;
        color: #ccc;
    }
    .filter-form {
        text-align: center;
        margin-top: 20px;
    }
    #category {
        padding: 10px;
        border: 1px solid #00303f;
        border-radius: 5px;
        width: 60%;
    }
    #category::placeholder {
        color: #00303f;
    }
    .filter-form button {
        padding: 10px 20px;
        background-color: #00303f;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }
    .filter-form button:hover {
        background-color: #023f51;
    }
    .blockquote {
        font-size: 1.2em;
        width: 60%;
        margin: 20px auto;
        font-family: 'Open Sans', sans-serif;
        font-style: italic;
        color: #555555;
        padding: 1.2em 30px 1.2em 75px;
        border-left: 8px solid #78C0A8;
        line-height: 1.6;
        position: relative;
        background: #EDEDED;
    }
    .blockquote::before {
        font-family: Arial;
        content: "\201C";
        color: #78C0A8;
        font-size: 4em;
        position: absolute;
        left: 10px;
        top: -10px;
    }
    .blockquote::after {
        content: '';
    }
    .blockquote span {
        display: block;
        color: #333333;
        font-style: normal;
        font-weight: bold;
        margin-top: 1em;
    }
    .modal {
        display: none;
        position: fixed;
        z-index: 100000;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgba(0,0,0,0.4);
    }

    .modal h2 {
    text-align: center;
    font-size: 24px; /* Example font size */
    position: relative;
}



    .modal-content {
        background: radial-gradient(circle, #e0e0e0, #9dc9bb);
        margin: 15% auto;
        padding: 20px;
        border: 1px solid #888;
        width: 80%;
        display: flex;
        flex-direction: column;
    }

    .close {
        color: #aaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }

    .close:hover,
    .close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }
    .book-image {
        max-width: 200px;
        border-radius: 8px;
        margin-left: auto;
        margin-right: auto;
        display: block;
        box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2), 0 12px 40px rgba(0, 0, 0, 0.1); /* Fading shadow */
}

</style>
{% endblock content %}