{% extends 'admin_pages/base.html' %}
{% load static %}

{% block content %}
<h1 class="book-heading">All Books</h1>
<div class="quote"></div>

{% if error_message %}
    <div class="messages">
        {% if error_message == "Book edited successfully!" %}
            <div class="alert alert-success">{{ error_message }}</div>
        {% else %}
            <div class="alert alert-error">{{ error_message }}</div>
        {% endif %}
    </div>
{% endif %}

<!-- Display books -->
<div class="books">
    {% for book in page_obj %}
    <div class="book">
        <h2>Title: {{ book.name }}</h2>
        <p>First Author: {{ book.first_author }}</p>
        {% if book.second_author %}
        <p>Second Author: {{ book.second_author }}</p>
        {% endif %}
        {% if book.third_author %}
        <p>Third Author: {{ book.third_author }}</p>
        {% endif %}
        <p>ISBN: {{ book.isbn }}</p>
        <p>Publish Year: {{ book.publish_year }}</p>
        <p>Genre: {{ book.genre }}</p>
        <img src="{{ book.cover_image.url }}" alt="Book Cover" class="book-image">

        <!-- Button for editing the book -->
        <button type="button" class="button edit-button" onclick="bookDetails('{{ book.name }}')">Edit Book</button>
    </div>
    {% empty %}
    <p>No books found.</p>
    {% endfor %}
</div>

<!-- Pagination links -->
{% if page_obj.has_other_pages %}
<div class="pagination">
    {% if page_obj.has_previous %}
    <a href="{{ request.path }}?page=1" class="pagination-link">&laquo; First</a>
    <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}" class="pagination-link">&lt; Previous</a>
    {% else %}
    <span class="disabled-pagination-link">&laquo; First</span>
    <span class="disabled-pagination-link">&lt; Previous</span>
    {% endif %}

    {% for num in page_obj.paginator.page_range %}
    {% if page_obj.number == num %}
    <span class="current-page">{{ num }}</span>
    {% else %}
    <a href="{{ request.path }}?page={{ num }}" class="pagination-link">{{ num }}</a>
    {% endif %}
    {% endfor %}

    {% if page_obj.has_next %}
    <a href="{{ request.path }}?page={{ page_obj.next_page_number }}" class="pagination-link">Next &gt;</a>
    <a href="{{ request.path }}?page={{ page_obj.paginator.num_pages }}" class="pagination-link">Last &raquo;</a>
    {% else %}
    <span class="disabled-pagination-link">Next &gt;</span>
    <span class="disabled-pagination-link">Last &raquo;</span>
    {% endif %}
</div>
{% endif %}

<!-- Edit Book Modal
<div id="editBookModal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <h2>Edit Book</h2>
        <form id="editBookForm" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="hidden" id="bookIdInput" name="book_id">
            <label for="nameInput">Name:</label>
            <input type="text" id="nameInput" name="name" required>
            <! Add input fields for other book details -->
            <!-- <button type="submit" class="button">Save Changes</button>
        </form>
    </div>
</div> --> 

<style>
    .book-cover {
        width: 350px;
        height: 350px;
        object-fit: cover;
        margin-top: 10px;
        border-radius: 5px;
    }

    .book-image {
        width: 350px;
        height: 350px;
        object-fit: cover;
    }

    .pagination {
        margin-top: 20px;
        text-align: center;
    }

    .pagination-link {
        margin: 0 5px;
        text-decoration: none;
        color: chocolate;
    }

    .current-page {
        margin: 0 5px;
        font-weight: bold;
    }

    .disabled-pagination-link {
        margin: 0 5px;
        color: #ccc;
    }

    .filter-form {
        text-align: center;
        margin-top: 20px;
    }

    #category {
        padding: 10px;
        border: 1px solid #00303f;
        border-radius: 5px;
        width: 60%;
    }

    #category::placeholder {
        color: #00303f;
    }

    .filter-form button {
        padding: 10px 20px;
        background-color: #00303f;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

    .filter-form button:hover {
        background-color: #023f51;
    }

    .button-container {
        text-align: center;
        margin-top: 10px;
    }

    .book-action-form {
        display: inline-block;
        margin: 5px;
    }

        .button {
        padding: 15px 30px;
        background-image: -webkit-linear-gradient(top, #87b18e, #023f51); 
        background-image: -moz-linear-gradient(top, #87b18e, #023f51);
        background-image: -ms-linear-gradient(top, #87b18e, #023f51);
        background-image: -o-linear-gradient(top, #87b18e, #023f51);
        background-image: linear-gradient(top, #87b18e, #023f51);
        -webkit-border-radius: 28; 
        -moz-border-radius: 28; 
         border-radius: 28px;
        text-shadow: 3px 2px 1px #373a45;  -webkit-box-shadow: 6px 5px 24px #666666;  -moz-box-shadow: 6px 5px 24px #666666;  box-shadow: 6px 5px 24px #514c4c;
        font-family: Arial;  color: #fafafa;  font-size: 27px;  padding: 19px;  text-decoration: none;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 16px;
    }

    .button:hover {
  background-image: -webkit-linear-gradient(top, #023f51, #87b18e);
  background-image: -moz-linear-gradient(top, #023f51, #87b18e);
  background-image: -ms-linear-gradient(top, #023f51, #87b18e);
  background-image: -o-linear-gradient(top, #023f51, #87b18e);
  background-image: linear-gradient(top, #023f51, #87b18e);
  text-decoration: none;
}


    .messages {
        text-align: center;
        margin-bottom: 20px;
    }

    .alert {
        display: inline-block;
        padding: 15px;
        margin-bottom: 20px;
        border: 1px solid transparent;
        border-radius: 4px;
    }

    .alert-success {
        color: #3c763d;
        background-color: #dff0d8;
        border-color: #d6e9c6;
    }

    .alert-error {
        color: #a94442;
        background-color: #f2dede;
        border-color: #ebccd1;
    }

    .blockquote {
        font-size: 1.2em;
        width: 60%;
        margin: 20px auto;
        font-family: 'Open Sans', sans-serif;
        font-style: italic;
        color: #555555;
        padding: 1.2em 30px 1.2em 75px;
        border-left: 8px solid #78C0A8;
        line-height: 1.6;
        position: relative;
        background: #EDEDED;
    }

    .blockquote::before {
        font-family: Arial;
        content: "\201C";
        color: #78C0A8;
        font-size: 4em;
        position: absolute;
        left: 10px;
        top: -10px;
    }

    .blockquote::after {
        content: '';
    }

    .blockquote span {
        display: block;
        color: #333333;
        font-style: normal;
        font-weight: bold;
        margin-top: 1em;
    }

    /* Modal Styles */
    .modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.6); /* Slightly darker background */
    padding-top: 60px;
}

.modal-content {
    background: radial-gradient(circle, #e0e0e0, #b0d1c6);
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: none; /* Remove the border */
    width: 90%; /* Wider modal */
    max-width: 800px; /* Increase max-width */
    border-radius: 15px; /* Rounded edges */
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3); /* Add shadow for depth */
}

    .close {
        color: #aaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }

    .close:hover,
    .close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }

    .modal form input,
.modal form textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0; 
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
}

    .modal form button {
        width: 100%;
        padding: 10px;
        background-color: #023f51;
        color: white;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

    .modal form button:hover {
        background-color: #87b18e;
    }
</style>

<script>
    function bookDetails(name) {
        console.log('Button clicked for book:', name);
        const filterParams = new URLSearchParams(window.location.search);
        const queryParams = filterParams.toString();
        
        fetch("/get-book-details/?name=" + encodeURIComponent(name) + "&" + queryParams)
            .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                return response.json();
            })
            .then(data => {
                console.log('Data received from server:', data);
                createAndShowModal(data.book);
            })
            .catch(error => {
                console.error('There was a problem with the fetch operation:', error);
            });
    }
    
    function createAndShowModal(book) {
        console.log('createAndShowModal function called with book:', book);
    
        const modal = document.createElement('div');
        modal.id = 'bookModal';
        modal.classList.add('modal');
        
        const modalContent = document.createElement('div');
        modalContent.classList.add('modal-content');
        
        const closeBtn = document.createElement('span');
        closeBtn.classList.add('close');
        closeBtn.innerHTML = '&times;';
        closeBtn.onclick = closeModal;
        
        const bookDetails = `
        <form id="bookForm">
            <h2><strong>Name:</strong></h2>
            <h2><input type="text" name="name" value="${book.name || ''}" /></h2>
            <div class="image-container">
                ${book.cover_image ? `<img src="${book.cover_image}" alt="Book Cover" class="book-image" id="bookImage">` : '<img src="placeholder.jpg" alt="Book Cover" class="book-image" id="bookImage">'}
                <input type="file" name="cover_image" id="coverImageInput" style="display:none;">
            </div>
            <p>
                <strong>First Author:</strong>
                <input type="text" name="first_author" value="${book.first_author || ''}" />
            </p>
            ${book.second_author ? `
            <p>
                <strong>Second Author:</strong>
                <input type="text" name="second_author" value="${book.second_author}" />
            </p>
            ` : ''}
            ${book.third_author ? `
            <p>
                <strong>Third Author:</strong>
                <input type="text" name="third_author" value="${book.third_author}" />
            </p>
            ` : ''}
            <p>
                <strong>ISBN:</strong>
                <input type="text" name="isbn" value="${book.isbn || ''}" />
            </p>
            <p>
                <strong>Publish Year:</strong>
                <input type="text" name="publish_year" value="${book.publish_year || ''}" />
            </p>
            <p>
                <strong>Genre:</strong>
                <input type="text" name="genre" value="${book.genre || ''}" />
            </p>
            <p>
        <strong>Description:</strong><br>
        <textarea name="description" rows="10" cols="50">${book.description || ''}</textarea>
        </p>
            <button type="button" id="saveButton">Save</button>
        </form>
        `;
        
        modalContent.innerHTML = bookDetails;
        modalContent.prepend(closeBtn);
        modal.appendChild(modalContent);
        document.body.appendChild(modal);
    
        modal.style.display = "block";
    
        const bookImage = document.getElementById('bookImage');
        const coverImageInput = document.getElementById('coverImageInput');
        const saveButton = document.getElementById('saveButton');
    
        bookImage.addEventListener('click', function() {
            coverImageInput.click();
        });
    
        coverImageInput.addEventListener('change', function() {
            const file = this.files[0];
            if (file) {
                const reader = new FileReader();
                reader.onload = function(e) {
                    bookImage.src = e.target.result;
                }
                reader.readAsDataURL(file);
            }
        });
    
        saveButton.addEventListener('click', function() {
            saveBookDetails(book.name);
        });
    }
    
    function closeModal() {
        const modal = document.getElementById('bookModal');
        if (modal) {
            modal.style.display = "none";
            modal.remove(); 
        }
    }
    ////// for youssef to work///////
    function saveBookDetails(bookName) {
        const form = document.getElementById('bookForm');
        const formData = new FormData(form);
        
        formData.append('original_name', bookName);
        formData.append('csrfmiddlewaretoken', '{{ csrf_token }}');
        fetch("/adminn/save-book-details", {
            method: "POST",
            body: formData
        })
        .then(response => {
            if (!response.ok) {
                throw new Error('Network response was not ok');
            }
            return response.json();
        })
        .then(data => {
            console.log('Book details saved successfully:', data);
            if (data.success) {
            closeModal();
            location.reload(); 
        } else {
            console.error('Failed to save book details:', data.error);
        }
        })
        .catch(error => {
            console.error('There was a problem with the save operation:', error);
        });
    }
    //////////////////////////////////////////////
    window.onclick = function(event) {
        const modal = document.getElementById('bookModal');
        if (event.target === modal) {
            closeModal();
        }
    }
    </script>
{% endblock content %}
