{% extends 'user_pages/base.html' %}
{% load static %}

{% block content %}
<h1 class="search-heading">Wishlist</h1>

<div class="search-results">
    {% if wishlist %}
        {% for item in wishlist %}
            <div class="book">
                <h2>{{ item.name }}</h2>
                <p>First Author: {{ item.first_author }}</p>
                {% if item.second_author %}
                    <p>Second Author: {{ item.second_author }}</p>
                {% endif %}
                {% if item.third_author %}
                    <p>Third Author: {{ item.third_author }}</p>
                {% endif %}
                <p>ISBN: {{ item.isbn }}</p>
                <p>Publish Year: {{ item.publish_year }}</p>
                <p>Genre: {{ item.genre }}</p>
                <img src="{{ item.cover_image.url }}" alt="Book Cover" class="book-image">
                <form method="post" action="{% url 'remove_from_wishlist' item.id %}">
                    {% csrf_token %}
                    <button type="submit" class="remove-button">Remove from Wishlist</button>
                </form>
            </div>
        {% empty %}
            <p>Your wishlist is empty.</p>
        {% endfor %}
    {% else %}
        <p>Your wishlist is empty.</p>
    {% endif %}
</div>

<style>
    .search-results {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 20px;
    }
    .book {
        border: 1px solid #ddd;
        border-radius: 5px;
        padding: 10px;
        margin: 10px;
        width: 250px;
        text-align: left;
    }
    .book-image {
        width: 350px; /* Set the width to your desired fixed size */
        height: 350px; /* Maintain aspect ratio */
    }
    .remove-button {
        padding: 10px 20px;
        background-color: #dc3545; /* Red color for return button */
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        margin-top: 10px;
    }
    .remove-button:hover {
        background-color: #c82333; /* Darker shade of red on hover */
    }
</style>
{% endblock content %}